/* canvas.bk-canvas {
	width: 600px !important;
	height: 300px !important;
}

.bk-canvas-events{
	width: 600px !important;
	height: 300px !important;
}
.bk-canvas-events > div {
	left: 600px !important;
}

.bk-toolbar.bk-toolbar-right{

} */

/* Bk Events */
/* [id="934F2FC3B0284FE5BFF97BBE40F87237"] {
	position: absolute !important;
	left: initial !important;
	right: 80px !important;
	top: 30px !important;
	width: initial !important;
	height: initial !important;
	overflow: hidden;
} */
