<!DOCTYPE html>
<html>
  <head>
    <title>Bar charts with Bokeh!</title>
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-1.0.1.min.css" rel="stylesheet">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.1.min.css" rel="stylesheet">
  </head>
  <body>
    <h1>Bugs found over the past {{ bars_count }} days</h1>
    {{ sessionscript|safe }}
    {{ the_div|safe }}
    {{ the_script|safe }}
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-1.0.1.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.1.min.js"></script>

    <table>
        <tr><th></th><th></th></tr>
        <tr><td>{{ btBackwards }}</td><td>{{ btForewards }}</td></tr>

    </table>
  </body>
</html>
